name: Ruff/Mypy

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.12.3
        uses: actions/setup-python@v4
        with:
          python-version: 3.12.3
      - name: Lint with Ruff
        run: |
          pip install ruff mypy
          make lint
